SEBASTIAN_MEDINA/SebastianMedinaCliente/src/conf/xml-resources/web-service-references/operaciones/wsdl/localhost_8080/SebastianMedina/operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/SebastianMedina/operaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="cargarMedicamentos">
<part name="parameters" element="tns:cargarMedicamentos"/>
</message>
<message name="cargarMedicamentosResponse">
<part name="parameters" element="tns:cargarMedicamentosResponse"/>
</message>
<message name="cargarDistribuidor">
<part name="parameters" element="tns:cargarDistribuidor"/>
</message>
<message name="cargarDistribuidorResponse">
<part name="parameters" element="tns:cargarDistribuidorResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="crearProducto">
<part name="parameters" element="tns:crearProducto"/>
</message>
<message name="crearProductoResponse">
<part name="parameters" element="tns:crearProductoResponse"/>
</message>
<message name="eliminar">
<part name="parameters" element="tns:eliminar"/>
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse"/>
</message>
<portType name="operaciones">
<operation name="cargarMedicamentos">
<input wsam:Action="http://sw/operaciones/cargarMedicamentosRequest" message="tns:cargarMedicamentos"/>
<output wsam:Action="http://sw/operaciones/cargarMedicamentosResponse" message="tns:cargarMedicamentosResponse"/>
</operation>
<operation name="cargarDistribuidor">
<input wsam:Action="http://sw/operaciones/cargarDistribuidorRequest" message="tns:cargarDistribuidor"/>
<output wsam:Action="http://sw/operaciones/cargarDistribuidorResponse" message="tns:cargarDistribuidorResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sw/operaciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sw/operaciones/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="crearProducto">
<input wsam:Action="http://sw/operaciones/crearProductoRequest" message="tns:crearProducto"/>
<output wsam:Action="http://sw/operaciones/crearProductoResponse" message="tns:crearProductoResponse"/>
</operation>
<operation name="eliminar">
<input wsam:Action="http://sw/operaciones/eliminarRequest" message="tns:eliminar"/>
<output wsam:Action="http://sw/operaciones/eliminarResponse" message="tns:eliminarResponse"/>
</operation>
</portType>
<binding name="operacionesPortBinding" type="tns:operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cargarMedicamentos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarDistribuidor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="operaciones">
<port name="operacionesPort" binding="tns:operacionesPortBinding">
<soap:address location="http://localhost:8080/SebastianMedina/operaciones"/>
</port>
</service>
</definitions>